extends ../layout

block content
  section.bg-light
    .container.mt-2
      h1.text-center SIGN UP
      form(action="/auth/signup" method="POST")
        .row
          .col-12
            .form-group
              label(for='fullName') Full Name
              input#fullName.form-control(type='text' name='fullName' placeholder='Input your Full name')
          .col-12
            .form-group
              label(for='userName') User Name
              input#userName.form-control(type='text' name='userName' placeholder='Input your User Name')
            .form-group
              label(for='email') Email
              input#email.form-control(type='email' name='email' placeholder='Input your email')
          .col-12
            .form-group
              label(for='password') Password
              input#password.form-control(type='password' name='password' placeholder='Input your password')
          .col-12.mt-3
            button.btn.btn-primary.w-100(type="submit") Submit